.userinfo {
    max-width: 600px;
    margin: 0 auto;
}

.userinfo-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: 40px;
    margin: 15px 0;
}


.userinfo-line .label-container {
    flex: 1 0 120px;
    max-width: 220px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userinfo-line .value-container {
    flex: 1 0 220px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userinfo-line label {
    text-align: center;
}

.value-container:hover {
    background: #eeeef1;
}