.conversation-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.conversation-list-item:hover {
    background: #eeeef1;
    cursor: pointer;
}


.conversation-title {
    font-size: 14px;
    font-weight: bold;
    text-transform:  capitalize;
    margin: 0;
}

.conversation-description {
    font-size: 14px;
    color: #888;
    margin: 0;
}