.message {
    margin: 2px;
    border-radius: 20px;
    background: #f4f4f8;
    padding: 10px 15px;
    align-self: flex-start;
}

.message.mine {
    background: #007aff;
    align-self: flex-end;
}

.message-content {
    display: flex;
    font-size: 14px;
}

.author-content {
    font-weight: bold;
    font-size: 14px;
}

.message.mine .message-content {
    color: white;
    justify-content: flex-end;
}