.messenger {
    display: grid;
    width: 100%;
    height: 100vh;
    background: #eeeef1;

    grid-template-columns: 350px auto ;
    grid-template-rows: 60px auto 70px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.left-sidebar {
    background: white;
    grid-row-start: 1;
    grid-row-end: span 3;
    grid-column: 1;
}

.scrollable {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.content {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 2;
}

.bottom-bar {
    grid-row: 3;
    grid-column: 2;
}