.messenger {
    display: grid;
    width: 100%;
    height: calc(100vh - 1px);
    background: #eeeef1;

    grid-template-columns: 350px auto;
    grid-template-rows: 60px auto 60px;
    grid-gap: 1px;
}

.app-header {
    flex-grow: 1;
}

.scrollable {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.left-sidebar {
    background: white;
    grid-row: 2 / -1;
    grid-column: 1;
}

.content {
    grid-row: 2;
    grid-column: 2;
}

.bottom-bar {
    background: white;
    grid-row: 3;
    grid-column: 2;
}

.top-bar {
    background: white;
    grid-row: 1;
    grid-column: 1 / -1;
}
