.compose {
    padding: 0px 10px;
    display: flex;
    align-items: flex-start;
    background: white;
    border-top: 1px solid #eeeef1;
    width: auto;
}

.compose-input {
    flex: 1;
    font-size: 14px;
    height: 50px;
}

.compose .submit-button {
    margin-left: 15px;
    background: #007aff;
}