.compose {
    padding: 10px;
    display: flex;
    align-items: center;
    background: white;
    border-top: 1px solid #eeeef1;
    position: sticky;
    width: calc(100% - 20px);
    bottom: 0px;
}

.compose-input {
    flex: 1;
    border: none;
    font-size: 14px;
    height: 60px;
    background: none;
}

.compose .submit-button {
    margin-left: 15px;
}