.message {
    display: flex;
    flex-direction: column;
}

.message .bubble-container {
    font-size: 14px;
    display: flex;

    margin: 1px 0px;
    background: #f4f4f8;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.message.mine .bubble-container {
    justify-content: flex-end;

    margin-top: 2px;
    margin-bottom: 2px;
    background: #007aff;
    color: white;
    max-width: 75%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}