.signup-form {
    /* background: yellow; */
    width: 700px
}

.signup-form li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
}

.signup-form  li > label {
    flex: 1 0 120px;
    max-width: 220px;
}

.signup-form li > label + * {
    flex: 1 0 220px;
}

.signup-form li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
}

.signup-form li button:hover {
    background: #333;
    color: white;
}